[
 {lager, [
          {handlers, [
                      {lager_console_backend, info},
                      {lager_file_backend, [
                                            {"error.log", error, 10485760, "$D0", 5},
                                            {"console.log", info, 10485760, "$D0", 5}]}]}]},
 {cowboy_pooler_example, [
                          {listener_count, 5},
                          {listen_on_port, 8004}]},
 {pooler, [
           {pools, [
                    [{name, pg_pool},
                     {max_count, 10},
                     {init_count, 5},
                     {start_mfa,
                      {pgsql, connect,
                       ["localhost",
                        "cowboy",
                        "cowboy",
                        [{port, 15432}, {database, "cowboy"}]]}}]]}]}
].
